body {
    font-family: "Nata Sans", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3px;
    border: 2px solid black;
    border-radius: 13px;
    width: 470px;
    height: 120px;
}

.textarea {
    border: none;
    font-size:15px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.char-count {
    margin-left: auto;
    margin-top: auto;
    padding-right: 10px;
}

.limit-reached {
    border-color:  red;
}

.max-chars {
    color: red;
}

@media (max-width: 425px) {
    .text-container {
    width: 400px;
    height: 150px;
}
}
